%h3 Raspberry Pi Server

%div.server-stat
  %h6
    #{ t('.hostname') }
  %pre.stat #{ @hostname }
  %br/

  %h6
    #{ t('.uptime') }
  %pre.stat #{ @uptime }
  %br/

  %h6
    #{ t('.machine') }
  %pre.stat #{ @uname }
  %pre.stat #{ @cpu_info }
  %br/

  %h6
    #{ t('.cpu_temperature') }
  %pre.stat #{ @cpu_temp }
  %br/

  %h6
    #{ t('.free_spaces') }
  %pre.stat #{ @df }
  %br/
  
  %h6
    #{ t('.memory_split') }
  %pre.stat #{ @mem_splits }
  %br/

  %h6
    #{ t('.free_memory') }
  %pre.stat #{ @free }
  %br/

